<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Integrated HealthCare Management Information System By Hanmak Technologies Limited.">
        <meta name=keywords content="HMIS,heathcare,hospital system,cloud hmis,medicentre,healthcare system,hospital management system,HIMS">
        <title>MedicentreV3 | Inventory</title>
        <link rel="shortcut icon" type=image/x-icon href="/favicon.ico?v=uIheJj4_jG2_IegLvBAhj6Rsmi0vVavzZQehKEJByxQ" defer async>
        <link rel=preload href="~/css/site.min.css?v=j6ExleZLhlkHO7BJI4dfYesLDSss3AwV6PHMFVPXQiw" as=style>
        <link rel=preload href="~/lib/jquery/dist/jquery.min.js?v=CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo" as=script>
        <link rel=preload href="~/js/signalr/signalr.min.js?v=aNSbXaEA6wcVsUTxsuF1mI-mKauMNEMkhXShRZaQMnE" as=script>
        <link rel=preload href="~/js/main.min.js?v=FGdNIVyQp87KxSZVvrK9dunmd0HJo5hCDmHZAX_FxeE" as=script>
        <link rel=preload href="~/css/assets.min.css?v=pC99z4nR8ke9vhJ9o1QGU1oJz2MSCaHTJvXg3_QP3Sc" as=style>
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">  


 
        <style>
            .cs-loader {
                position: absolute;
                top: 12px;
                left: 0;
                height: 20%;
                width: 100%;
                z-index: -9999
            }

            /*At-font-face {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-display: swap;
                src: url('../fonts/poppins/poppins-v5-latin-regular.eot');
                src: local('Poppins Regular'),local('Poppins-Regular'),url('/fonts/poppins/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'),url('/fonts/poppins/poppins-v5-latin-regular.woff2') format('woff2'),url('/fonts/poppins/poppins-v5-latin-regular.woff') format('woff'),url('/fonts/poppins/poppins-v5-latin-regular.ttf') format('truetype'),url('/fonts/poppins/poppins-v5-latin-regular.#Poppins') format('svg')
            }*/

            .cs-loader-inner {
                transform: translateY(-50%);
                top: 50%;
                position: absolute;
                width: calc(100% - 10px);
                color: #FFF;
                padding: 0 100px;
                text-align: center
            }

            .cs-loader-inner label {
                font-size: 20px;
                opacity: 0;
                display: inline-block
            }

          /*  At-keyframes lol {
                0% {
                    opacity: 0;
                    transform: translateX(-300px)
                }

                33% {
                    opacity: 1;
                    transform: translateX(0px)
                }

                66% {
                    opacity: 1;
                    transform: translateX(0px)
                }

                100% {
                    opacity: 0;
                    transform: translateX(300px)
                }
            }*/

          /*  At--webkit-keyframes lol {
                0% {
                    opacity: 0;
                    -webkit-transform: translateX(-300px)
                }

                33% {
                    opacity: 1;
                    -webkit-transform: translateX(0px)
                }

                66% {
                    opacity: 1;
                    -webkit-transform: translateX(0px)
                }

                100% {
                    opacity: 0;
                    -webkit-transform: translateX(300px)
                }
            }*/

            .cs-loader-inner label:nth-child(6) {
                -webkit-animation: lol 3s infinite ease-in-out;
                animation: lol 3s infinite ease-in-out
            }

            .cs-loader-inner label:nth-child(5) {
                -webkit-animation: lol 3s 100ms infinite ease-in-out;
                animation: lol 3s 100ms infinite ease-in-out
            }

            .cs-loader-inner label:nth-child(4) {
                -webkit-animation: lol 3s 200ms infinite ease-in-out;
                animation: lol 3s 200ms infinite ease-in-out
            }

            .cs-loader-inner label:nth-child(3) {
                -webkit-animation: lol 3s 300ms infinite ease-in-out;
                animation: lol 3s 300ms infinite ease-in-out
            }

            .cs-loader-inner label:nth-child(2) {
                -webkit-animation: lol 3s 400ms infinite ease-in-out;
                animation: lol 3s 400ms infinite ease-in-out
            }

            .cs-loader-inner label:nth-child(1) {
                -webkit-animation: lol 3s 500ms infinite ease-in-out;
                animation: lol 3s 500ms infinite ease-in-out
            }

            .animate-bottom {
                position: relative;
                -webkit-animation-name: animatebottom;
                -webkit-animation-duration: 1s;
                animation-name: animatebottom;
                animation-duration: 1s
            }

           /* AT--webkit-keyframes animatebottom {
                from {
                    bottom: -100px;
                    opacity: 0
                }

                to {
                    bottom: 0;
                    opacity: 1
                }
            }*/

/*            At-keyframes animatebottom {
                from {
                    bottom: -100px;
                    opacity: 0
                }

                to {
                    bottom: 0;
                    opacity: 1
                }
            }*/

            #divBody {
                display: none
            }
        </style>
        <script>
            var UserRoomID = 0;
            var UserRoomStatus = 0;
            var RoomID = 0;
            const AppVersion = "3.8.6";
            const CompanyBranchID = 1;
            const SystemUserID = 24952;
            const IsCashier = 'True' === 'True';
            const User = 'tuser2';
            const schema = 'mOTWKsjsWG2RP0SkZB3wnA%3D%3D';
            var __DontToggle__ = false;
            var EnterSubmitsFormsOnThisPage = false;
            document.documentElement.setAttribute('data-theme', 'root');
            document.documentElement.style.setProperty('--font-size', '13px');
            document.documentElement.style.setProperty('--font', 'Poppins');
            function IsMobile() {
                return /\b(iPhone|iP[ao]d)/.test(navigator.userAgent) || /\b(iP[ao]d)/.test(navigator.userAgent) || /Android/i.test(navigator.userAgent) || /Mobile/i.test(navigator.userAgent);
            }
        </script>
        <script>
            UserRoomID = 15427;
            UserRoomStatus = 1;
            RoomID = 23;
        </script>
        <link rel=stylesheet href="/css/site.min.css?v=j6ExleZLhlkHO7BJI4dfYesLDSss3AwV6PHMFVPXQiw">
        <script>
            Date.prototype.toLocalISOString = function() {
                return new Date(this.getTime() - (this.getTimezoneOffset() * 60000)).toISOString();
            }
            document.documentElement.style.setProperty('--font-size', '13px');
        </script>
        <meta name=theme-color content=#2a2e2e>
        <link rel=manifest href=/manifest.webmanifest>
        </head>
        <body id=body>
            <div id=wrapper>
                <header>
                    <nav class="navbar navbar-inverse navbar-fixed-top" role=navigation>
                        <div class=navbar-header>
                            <button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-ex1-collapse>
                                <span class=sr-only>Toggle navigation</span>
                                <span class=icon-bar></span>
                                <span class=icon-bar></span>
                                <span class=icon-bar></span>
                            </button>
                            <a class=navbar-brand href="/">
                                <div class=navbar-text>MedicentreV3</div>
                            </a>
                        </div>
                        <div id=loader class=cs-loader>
                            <div class=cs-loader-inner>
                                <label>●</label>
                                <label>●</label>
                                <label>●</label>
                                <label>●</label>
                                <label>●</label>
                                <label>●</label>
                            </div>
                        </div>
                        <ul class="nav navbar-right top-nav">
                            <li>
                                <a title="Dictate Notes" href=# id=toggleStt>
                                    <i id=toggleSttIcon class=fas></i>
                                </a>
                            <li>
                                <a title="Get Support" href=# id=btnGetSupport>
                                    <i class="fas fa-user-headset"></i>
                                </a>
                            <li>
                                <a href=# id=notificationLink title=Notifications>
                                    <span class="fas fa-bell"></span>
                                    <span id=nCounter class=badge></span>
                                </a>
                                <div id=notificationContainer>
                                    <div id=notificationTitle>Notifications</div>
                                    <div id=notificationsBody class=notifications>
                                        <div class=list-group id=notificationContent style="height:300px !important"></div>
                                    </div>
                                    <div id=notificationFooter>
                                        <a href=# id=btnMoreNotifications>See More</a>
                                    </div>
                                </div>
                            <li>
                                <a href=# data-toggle=modal data-target=.feedback-hub-modal title="Provide your feedback">
                                    <span class="fas fa-comments"></span>
                                </a>
                            <li class=dropdown>
                                <a href=# class=dropdown-toggle data-toggle=dropdown title="User: tuser2">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-nav">
                                    <li class=dropdown-header>
                                        <span style=font-size:medium>
                                            <i class="far fa-user-circle"></i>
                                            tuser2
                                        </span>
                                    <li role=separator class=divider>
                                    <li>
                                        <a href=# data-toggle=modal data-target=.begin-cashier-shift-modal>Begin Cashier Shift</a>
                                    <li>
                                        <a href=# id=btnDashboard>Exec Dashboard</a>
                                    <li>
                                        <a href=# data-toggle=modal data-target=.portal-access-code-modal>Employee Portal</a>
                                    <li>
                                        <a href=# data-toggle=modal data-target=.signin-to-room-modal>Sign In/Out Room</a>
                                    <li>
                                        <a href=/Configurations/UserProfile>User Profile</a>
                                    <li>
                                        <a href=# data-toggle=modal data-target=.select-branch-modal>Switch Branch</a>
                                    <li>
                                        <a href="/Security/LockScreen/?Username=tuser2&amp;BranchID=1&amp;Schema=mOTWKsjsWG2RP0SkZB3wnA%3D%3D&amp;ReturnUrl=/Inventory/Inventory">Lock</a>
                                    <li>
                                        <a href=/Security/Logout>Logout</a>
                                </ul>
                            <li>
                                <a href=# class=conn-status>
                                    <i class="fa fa-fw fa-wifi"></i>
                                </a>
                            <li class=dropdown>
                                <a href=# class=dropdown-toggle data-toggle=dropdown title=More>
                                    <span class="glyphicon glyphicon-option-vertical"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-nav">
                                    <li>
                                        <a href="/Logs" target=_blank>Logs</a>
                                        </li>
                                    <li>
                                        <a href="/Home/Changelog">Changelog</a>
                                        </li>
                                </ul>
                                </li>
                        </ul>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav side-nav menus">
                                <a href="">
                                    <i class="fa fa-search"></i>
                                    <input id=filter placeholder="Find a panel">
                                </a>
                                <li>
                                    <a href="/">
                                        <i class="fas fa-home"></i>
                                        Home
                                    </a>
                                <li>                                  
                                <li>
                                    <a href=# data-toggle=collapse data-target=#submenu-12>
                                        <i class="fas fa-clipboard-list"></i>
                                        Inventoryy <i class="fa fa-fw fa-angle-down pull-right"></i>
                                    </a>
                                    <ul id=submenu-12 class="collapse sidebarcollapse">
                                        <li>
                                            <a href=/Inventory>
                                                <i class="fas fa-hand-point-right"></i>
                                                Inventory
                                            </a>
                                        <li>
                                            <a href=/Inventory/InternalOrders>
                                                <i class="fas fa-hand-point-right"></i>
                                                Internal Orders
                                            </a>
                                        <li>
                                            <a href=/Inventory/InterbranchOrders>
                                                <i class="fas fa-hand-point-right"></i>
                                                Interbranch Orders
                                            </a>
                                        <li>
                                            <a href=/Inventory/MaterialConsumption>
                                                <i class="fas fa-hand-point-right"></i>
                                                Material Consumption
                                            </a>
                                        <li>
                                            <a href=/Inventory/StockTake>
                                                <i class="fas fa-hand-point-right"></i>
                                                Stock Take
                                            </a>
                                        <li>
                                            <a href=/Inventory/UnitOfMeasure>
                                                <i class="fas fa-hand-point-right"></i>
                                                Unit Of Measure
                                            </a>
                                    </ul>                                
                                <li>
                                    <a href=# class=reporting-dashboard>
                                        <i class="fas fa-file-alt"></i>
                                        Reports
                                    </a>
                            </ul>
                        </div>
                    </nav>
                </header>




    <!-- Content Wrapper. Contains page content -->
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
     <!-- /.content-wrapper -->


        @await Html.PartialAsync("./PartialViews/_ReportsAccess")



        <div class="chatbox chatbox--tray chatbox--empty">
            <div class=chatbox__title>
                <h5>
                    <a href=# id=nameChat>Chat</a>
                </h5>
                <button class=chatbox__title__tray>
                    <span></span>
                </button>
            </div>
            <div class=chatbox__body></div>
            <div class=chatbox__credentials>
                <div class=list-group id=connectedUsers></div>
            </div>
            <div class="input-group chatbox__message">
                <input id=btn-input class="form-control input-sm" placeholder="Write your message here...">
                <span class=input-group-btn>
                    <button class="btn btn-primary btn-sm" id=btn-chat>
                        <i class="glyphicon glyphicon-send"></i>
                    </button>
                </span>
            </div>
        </div>


</body>
    @await RenderSectionAsync("Scripts", required: false)
</html>
