@model Pharmacy_Information_Management_System.Models.InventoryItemVM

<div class=row>
        <div class="panel panel-default">
            <div id=backUp></div>
                <div class="panel-heading clearfix">
                    <h5 class=panel-title>
                        <strong>
                            <span class=stolocchosen hidden></span>
                        </strong>
                        Inventory Item Details 
                        <a href=# id=changeStoloc>
                            <small>
                                <i>(click here to change)</i>
                            </small>
                        </a>
                    </h5>
                </div>
            <div class=panel-body>
                <div class=row>
                    <div class=col-md-12>
                        <form class=form-inline method=post id=SearchProductForm>
                            <div class=form-group>
                                <div class="input-group input-group-sm">
                                    <span class=input-group-addon id=search>
                                        <span class="fa fa-search"></span>
                                    </span>
                                    <input class="form-control isbn" id=searchIndex aria-describedby=search placeholder="Search here..." required>
                                </div>
                            </div>
                            <button type=button class="btn btn-default btn-sm button scan" id=btnScan>
                                <span class="glyphicon glyphicon-barcode"></span>
                            </button>
                            <button class="btn btn-default btn-sm ladda-button" id=btnsearchitem data-style=expand-right data-size=s>Search</button>
                            <input name=__RequestVerificationToken type=hidden value=CfDJ8K8elgsLS7hMlHQKPXte6tWKO7792FM3IkoDRBMpDtenlbhW_pzlEU1UZryrofNUWmLhnvo9IL9B3QDCQSUME0Ano3n5oAfp0ctvMibtGsro9XI-TsupDHII3VTONnhUkl2E6M8sZuZKZc9JlRGYkjF8B46uleLP_NJGJINxn_rjZXAO0YCOmtWvFtlzFNNBJw>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row marginRow">
                <form asp-action="Inventory" method=post id=InventoryItemForm>
                        <input hidden type=number data-val=true data-val-required="The ItemID field is required." id=Item_ItemID name=Item.ItemID>
                        <input hidden type=number data-val=true data-val-required="The ItemStorageLocationID field is required." id=ItemStorageLocation_ItemStorageLocationID name=ItemStorageLocation.ItemStorageLocationID>
                        <input hidden type=number data-val=true data-val-required="The CompanyBranchItemID field is required." id=ItemStorageLocation_CompanyBranchItemID name=ItemStorageLocation.CompanyBranchItemID>
                        <input hidden type=number data-val=true data-val-required="The CompanyBranchItemID field is required." id=CompanyBranchItem_CompanyBranchItemID name=CompanyBranchItem.CompanyBranchItemID>
                        <input type=number value=1 hidden data-val=true data-val-required="The Type field is required." id=Item_Type name=Item.Type>
                        <input type=number step=any hidden data-val=true data-val-number="The field PreviousUnitCost must be a number." data-val-required="The PreviousUnitCost field is required." id=PreviousUnitCost name=PreviousUnitCost>
                        <input type=number step=any hidden data-val=true data-val-number="The field PreviousQuantity must be a number." data-val-required="The PreviousQuantity field is required." id=PreviousQuantity name=PreviousQuantity>
                        <input type=number step=any hidden data-val=true data-val-number="The field PreviousUnitPrice must be a number." data-val-required="The PreviousUnitPrice field is required." id=PreviousUnitPrice name=PreviousUnitPrice>
                        <div class=col-sm-4>
                            <div class=form-group>                            
                                <label asp-for="ItemName" class="control-label"></label>
                                <input asp-for="ItemName" class="form-control input-sm" required data-val=true data-val-required="The Name field is required." id=Item_Name name=Item.Name />
                                <span asp-validation-for="ItemName" class="text-danger"></span>
                            </div>
                            <div class=form-group>                       
                                <label asp-for="ItemCategory" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Drugs</option>
                                    <option>Stationaries</option>
                                    <option>Other Products</option>
                                </select>
                                <span asp-validation-for="ItemCategory" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="ItemClass" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Product</option>
                                    <option>Service</option>
                                </select>
                                <span asp-validation-for="ItemClass" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="InventorySubAccount" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Inventory- Pharmacy Drugs</option>
                                    <option>Inventory- Other Items</option>
                                </select>
                                <span asp-validation-for="InventorySubAccount" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="CostOfSaleSubAccount" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Cost Of Goods Sold- Pharmacy Drugs</option>
                                    <option>Cost Of Goods Sold- Other Products</option>
                                </select>
                                <span asp-validation-for="CostOfSaleSubAccount" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="IncomeSubAccount" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Sales- Pharmacy Drugs</option>
                                    <option>Sales- Other Products</option>
                                </select>
                                <span asp-validation-for="IncomeSubAccount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=col-sm-3>
                            <div class=form-group>
                                <label asp-for="VatType" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>VAT Exempt</option>
                                    <option>Reduced VAT Rate</option>
                                    <option>Standard VAT Rate</option>
                                    <option>Zero Rated</option>
                                </select>
                                <span asp-validation-for="VatType" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="OtherTax" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>None</option>
                                    <option>Other Tax</option>
                                </select>
                                <span asp-validation-for="OtherTax" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="UnitCost" class="control-label"></label>
                                <input asp-for="UnitCost" type=number step=any class="form-control input-sm" required data-val=true data-val-number="The field UnitCost must be a number." data-val-required="The UnitCost field is required." id=ItemStorageLocation_UnitCost name=ItemStorageLocation.UnitCost>
                                <span asp-validation-for="UnitCost" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="UnitPrice" class="control-label"></label>
                                <input asp-for="UnitPrice" type=number step=any class="form-control input-sm" required data-val=true data-val-number="The field UnitPrice must be a number." data-val-required="The UnitPrice field is required." id=UnitPrice name=UnitPrice>
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="AvailableQuantity" class="control-label"></label>
                                <input asp-for="AvailableQuantity" type=number step=any class="form-control input-sm" required readonly data-val=true data-val-number="The field AvailableQuantity must be a number." data-val-required="The AvailableQuantity field is required." id=ItemStorageLocation_AvailableQuantity name=ItemStorageLocation.AvailableQuantity disabled>
                                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                               <label asp-for="TotalQuantity" class="control-label"></label>
                               <input asp-for="TotalQuantity" type=number step=any class="form-control input-sm" required data-val=true data-val-number="The field TotalQuantity must be a number." data-val-required="The TotalQuantity field is required." id=ItemStorageLocation_TotalQuantity name=ItemStorageLocation.TotalQuantity>                   
                               <span asp-validation-for="TotalQuantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=col-sm-3>
                            <div class=form-group>
                                <label asp-for="UnitOfMeasure" class="control-label"></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                    <option>Tablet</option>
                                    <option>Dozen</option>
                                    <option>Pack-1000</option>
                                    <option>6-Pack</option>
                                    <option>100-Pack</option>
                                    <option>Capsule</option>
                                </select>
                                <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="BatchNo" class="control-label"></label>
                                <input asp-for="BatchNo" class="form-control input-sm" required id=ItemStorageLocation_Batch name=ItemStorageLocation.Batch>
                                <span asp-validation-for="BatchNo" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                 <label asp-for="ExpiryDate" class="control-label"></label>
                                 <input asp-for="ExpiryDate" type=date class="form-control input-sm" required data-val=true data-val-required="The ExpiryDate field is required." id=ItemStorageLocation_ExpiryDate name=ItemStorageLocation.ExpiryDate>                               
                                 <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                <label asp-for="ItemCode" class="control-label"></label>
                                <input asp-for="ItemCode" class="form-control input-sm" id=CompanyBranchItem_ItemCode name=CompanyBranchItem.ItemCode>                            
                                <span asp-validation-for="ItemCode" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                 <label asp-for="Barcode" class="control-label"></label>
                                 <input asp-for="Barcode" class="form-control input-sm" id=CompanyBranchItem_Barcode name=CompanyBranchItem.Barcode>
                                 <span asp-validation-for="Barcode" class="text-danger"></span>
                            </div>
                            <div class=form-group>
                                 <label asp-for="ReorderLevel" class="control-label"></label>
                                 <input asp-for="ReorderLevel" class="form-control input-sm" data-val=true data-val-number="The field ReorderLevel must be a number." data-val-required="The ReorderLevel field is required." id=ItemStorageLocation_ReorderLevel name=ItemStorageLocation.ReorderLevel>
                                 <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                            </div>
                        @*    <div class=form-group>
                                <div class=checkbox>
                                    <label class=checkbox>
                                        <input type=checkbox id=IsNewBatch>Create a new batch 
                                    </label>
                                </div>
                            </div>*@
                            <div id=updateproduct hidden>
                                <div class="btn-group pull-right">
                                    <button id=btnupdateproduct class="btn btn-primary btn-xs ladda-button" data-style=expand-right data-size=s>Update</button>
                                    <a id=btnCreateNewProduct class="btn btn-primary btn-xs">New</a>
                                </div>
                            </div>
                            <div id=addproduct>
                                <button id=btnaddproduct class="btn btn-primary btn-xs pull-right ladda-button" data-style=expand-right data-size=s>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <input name=__RequestVerificationToken type=hidden value=CfDJ8K8elgsLS7hMlHQKPXte6tWKO7792FM3IkoDRBMpDtenlbhW_pzlEU1UZryrofNUWmLhnvo9IL9B3QDCQSUME0Ano3n5oAfp0ctvMibtGsro9XI-TsupDHII3VTONnhUkl2E6M8sZuZKZc9JlRGYkjF8B46uleLP_NJGJINxn_rjZXAO0YCOmtWvFtlzFNNBJw>
                    </form>
                    <div class=col-sm-2>
                        <div class="row text-center">
                            <div class="btn-group-vertical btn-group-sm">
                                <button class="btn btn-primary" id=btnViewReservedItems>View Reserved</button>
                                <button class="btn btn-link" style=background-color:transparent disabled>
                                    <i class="glyphicon glyphicon-option-vertical"></i>
                                </button>
                                <button class="btn btn-primary" data-toggle=modal data-target=.import-products-modal>Import Products</button>
                                <button class="btn btn-primary ladda-button" data-style=expand-right data-size=s id=btnExportProducts>Export Products</button>
                                <button class="btn btn-primary ladda-button" data-style=expand-right data-size=s id=btnCreateopeningstock>Create Opening Stock</button>
                                <button class="btn btn-primary ladda-button" data-style=expand-right data-size=s id=btnSyncInvItems>Sync Inventory Items</button>
                                <button class="btn btn-primary ladda-button" data-style=expand-right data-size=s id=btnRetireOldBatches>Retire Old Batches</button>
                                <button class="btn btn-primary ladda-button" data-style=expand-right data-size=s id=btnMergeBatches>Merge Batches</button>
                                <button class="btn btn-warning" id=btnViewExpiredBatches>View Expired Batches</button>
                                <button class="btn btn-link" style=background-color:transparent disabled>
                                    <i class="glyphicon glyphicon-option-vertical"></i>
                                </button>
                                <button class="btn btn-default" data-toggle=modal data-target=.item-class-modal>Item Classes</button>
                                <button class="btn btn-default" data-toggle=modal data-target=.item-categories-modal>Item Categories</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id=scrolltohere></div>
                <div class=panel-heading>
                    <h5 class=panel-title>
                        <strong>
                            <span class=stolocchosen hidden></span>
                        </strong>
                        View: Inventory Items
                    </h5>
                </div>
                <div class=table-responsive id=no-more-tables>
                    <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=inventoryitemstable>
                        <thead class=cf>
                            <tr>
                                <th>
                                    <strong>Name</strong>
                                <th>
                                    <strong>Batch No</strong>
                                <th>
                                    <strong>Unit Cost</strong>
                                <th>
                                    <strong>Unit Price</strong>
                                <th>
                                    <strong>Total Quantity</strong>
                                <th>
                                    <strong>Available Quantity</strong>
                                <th>
                                    <strong>Expires On</strong>
                                    <tbody>
                    </table>
                </div>
            </div>
            <div class=panel-footer>
                <div class="row no-gutter">
                    <div class=col-md-12>
                        <form class=form-inline method=post id=FilterForm>
                            <div class=form-group>
                                <label for=flag>
                                    <small>Filter: </small>
                                </label>
                                <select class="form-control input-sm" id=flag>
                                    <option value=0>All Active Products</option>
                                    <option value=1>All Inactive Products</option>
                                    <option value=2>Reserved Products</option>
                                    <option value=3>Products Out of Stock</option>
                                    <option value=4>Expired Products</option>
                                    <option value=5>Products Below Reorder Level</option>
                                </select>
                            </div>
                            <button id=btnfilterproducts class="btn btn-info btn-xs ladda-button" data-style=expand-right data-size=s>View</button>
                            <input name=__RequestVerificationToken type=hidden value=CfDJ8K8elgsLS7hMlHQKPXte6tWKO7792FM3IkoDRBMpDtenlbhW_pzlEU1UZryrofNUWmLhnvo9IL9B3QDCQSUME0Ano3n5oAfp0ctvMibtGsro9XI-TsupDHII3VTONnhUkl2E6M8sZuZKZc9JlRGYkjF8B46uleLP_NJGJINxn_rjZXAO0YCOmtWvFtlzFNNBJw>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
          
@await Html.PartialAsync("./PartialViews/_ItemCategory")
@await Html.PartialAsync("./PartialViews/_Expiredbatches")
@await Html.PartialAsync("./PartialViews/_Barcode")
@await Html.PartialAsync("./PartialViews/_CreateOpeningStock")
@await Html.PartialAsync("./PartialViews/_ImportProducts")
@await Html.PartialAsync("./PartialViews/_ItemClass")
@await Html.PartialAsync("./PartialViews/_ReservedItems")

           
@* <div id=toast></div>
<div class=minmaxCon id=taskbar style=display:none></div>*@